.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml
addressbook-web-tests/out/test/classes/ru/sivak/addressbookWebTests/NewGroupTest.class
addressbook-web-test/gradle/wrapper/gradle-wrapper.jar
addressbook-web-test/build.gradle
addressbook-web-test/gradle/wrapper/gradle-wrapper.properties
addressbook-web-test/gradlew
addressbook-web-test/gradlew.bat
addressbook-web-tests/.idea/compiler.xml
addressbook-web-tests/.idea/gradle.xml
addressbook-web-tests/.idea/libraries/Gradle__com_beust_jcommander_1_72.xml
addressbook-web-tests/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_1_3_9.xml
addressbook-web-tests/.idea/libraries/Gradle__com_google_code_gson_gson_2_8_2.xml
addressbook-web-tests/.idea/libraries/Gradle__com_google_errorprone_error_prone_annotations_2_1_3.xml
addressbook-web-tests/.idea/libraries/Gradle__com_google_guava_guava_23_6_jre.xml
addressbook-web-tests/.idea/libraries/Gradle__com_google_j2objc_j2objc_annotations_1_1.xml
addressbook-web-tests/.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_3_9_1.xml
addressbook-web-tests/.idea/libraries/Gradle__com_squareup_okio_okio_1_13_0.xml
addressbook-web-tests/.idea/libraries/Gradle__commons_codec_commons_codec_1_10.xml
addressbook-web-tests/.idea/libraries/Gradle__commons_logging_commons_logging_1_2.xml
addressbook-web-tests/.idea/libraries/Gradle__net_bytebuddy_byte_buddy_1_7_9.xml
addressbook-web-tests/.idea/libraries/Gradle__org_apache_commons_commons_exec_1_3.xml
addressbook-web-tests/.idea/libraries/Gradle__org_apache_extras_beanshell_bsh_2_0b6.xml
addressbook-web-tests/.idea/libraries/Gradle__org_apache_httpcomponents_httpclient_4_5_3.xml
addressbook-web-tests/.idea/libraries/Gradle__org_apache_httpcomponents_httpcore_4_4_6.xml
addressbook-web-tests/.idea/libraries/Gradle__org_checkerframework_checker_compat_qual_2_0_0.xml
addressbook-web-tests/.idea/libraries/Gradle__org_codehaus_mojo_animal_sniffer_annotations_1_14.xml
addressbook-web-tests/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_api_3_11_0.xml
addressbook-web-tests/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_chrome_driver_3_11_0.xml
addressbook-web-tests/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_edge_driver_3_11_0.xml
addressbook-web-tests/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_firefox_driver_3_11_0.xml
addressbook-web-tests/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_ie_driver_3_11_0.xml
addressbook-web-tests/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_java_3_11_0.xml
addressbook-web-tests/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_opera_driver_3_11_0.xml
addressbook-web-tests/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_remote_driver_3_11_0.xml
addressbook-web-tests/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_safari_driver_3_11_0.xml
addressbook-web-tests/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_support_3_11_0.xml
addressbook-web-tests/.idea/libraries/Gradle__org_testng_testng_6_14_2.xml
addressbook-web-tests/.idea/misc.xml
addressbook-web-tests/.idea/modules.xml
addressbook-web-tests/.idea/modules/addressbook-web-tests_main.iml
addressbook-web-tests/.idea/modules/addressbook-web-tests_test.iml
addressbook-web-tests/.idea/workspace.xml
addressbook-web-tests/addressbook-web-tests.iml
sandbox/.idea/compiler.xml
sandbox/.idea/gradle.xml
sandbox/.idea/libraries/Gradle__com_beust_jcommander_1_72.xml
sandbox/.idea/libraries/Gradle__org_apache_extras_beanshell_bsh_2_0b6.xml
sandbox/.idea/libraries/Gradle__org_testng_testng_6_14_2.xml
sandbox/.idea/misc.xml
sandbox/.idea/modules.xml
sandbox/.idea/modules/addressbook-web-test.iml
sandbox/.idea/modules/addressbook-web-test_test.iml
sandbox/.idea/modules/sandbox_main.iml
sandbox/.idea/modules/addressbook-web-test_main.iml
sandbox/.idea/modules/sandbox_test.iml
sandbox/.idea/vcs.xml
sandbox/.idea/workspace.xml
sandbox/sandbox.iml
addressbook-web-tests/src/test/java/ru/sivak/addressbookWebTests/tests/TestBase.java
addressbook-web-tests/src/test/java/ru/sivak/addressbookWebTests/tests/EditGroupTest.java
addressbook-web-tests/src/test/java/ru/sivak/addressbookWebTests/tests/EditGroupTest.java
addressbook-web-tests/src/test/java/ru/sivak/addressbookWebTests/tests/TestBase.java
addressbook-web-tests/src/test/java/ru/sivak/addressbookWebTests/tests/TestBase.java
addressbook-web-tests/.idea/workspace.xml___jb_tmp___
*.log
